:root {
  /* COLORS */
  --bg-primary-color: #FFFFFF;
  --bg-secondary-color: #FFF8E7;

  --font-primary-color: #444444;
  --font-secondary-color: #555555;

  --btn-bg-primary-color: var(--bg-secondary-color);
  --btn-bg-secondary-color: #F7E7CE;
  --btn-bg-tertiary-color: #e7e7e7;
  --btn-bg-additional-color: var(--bg-primary-color);

  /* FONTS */
  --font: 'Montserrat', sans-serif;

  /* BOX-SHADOW */
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--font-primary-color);
  font-family: var(--font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  background-color: var(--bg-primary-color);
}

h1, h2, h3 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

button {
  color: inherit;
  cursor: pointer;
  border: none;
}

.wrapper {
  width: 1360px;
  margin: 0 auto;
  padding: 0 64px;
}

.wrapper-block {
  padding: 24px;
  width: 100%;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background-color: var(--bg-secondary-color);
}

.btn {
  padding: 12px 24px;
  border-radius: 4px;
  box-shadow: var(--box-shadow);

  transition: all 0.2s;
}

.hidden {
  display: none !important;
}

.disabled {
  pointer-events: none;
  opacity: 0.7;
}

.field-disabled {
  pointer-events: none;
}

/* HEADER */

.header {
  .wrapper-heading {
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    .header__heading {
      font-size: 36px;
      font-weight: 500;
      text-transform: uppercase;
      color: var(--font-secondary-color);
    }
  }
}

/* MAIN */

.main {
  margin-top: 48px;

  /* TABS SECTION */

  .section-tabs {
    display: flex;

    gap: 18px;

    .tab {
      background-color: var(--btn-bg-primary-color);

      display: flex;

      gap: 4px;
      align-items: center;

      .tab__icon {
        width: 24px;
        height: 24px;
        filter: invert(29%) sepia(11%) saturate(0%) hue-rotate(156deg) brightness(94%) contrast(106%);
      }

      .tab__text {
        text-transform: uppercase;
      }
    }

    .tab:hover,
    .tab_selected {
      background-color: var(--btn-bg-secondary-color);
    }
  }

  /* RULES SECTION */

  .section-rules {
    margin-top: 18px;

    .wrapper-rules {
      display: flex;

      flex-direction: column;
      gap: 16px;

      .rules__rule {
        display: flex;
  
        gap: 8px;
  
        line-height: 1.4;
  
        .rule__heading {
          width: 110px;
          font-weight: 500;
        }
  
        .rule__text {
          width: 80%;
        }
      }
    }
  }

  /* PARAMETERS SECTION */

  .section-parameters {
    margin-top: 18px;

    display: flex;

    gap: 18px;

    .parameters__dimension {
      width: 20%;

      .dimension-form {
        display: flex;

        flex-direction: column;
        align-items: flex-start;
        gap: 16px;

        .dimension__input {
          width: 100%;
          border: none;
          padding: 12px;
          color: var(--font-secondary-color);
          border-radius: 4px;
        }

        .dimension__input:focus {
          outline: none;
          box-shadow: var(--box-shadow);
        }

        .dimension__btn {
          align-self: center;

          margin-top: 12px;
          background-color: var(--btn-bg-tertiary-color);
        }

        .dimension__btn:hover {
          background-color: var(--btn-bg-additional-color);
        }
      }
    }

    .parameters__configuration {
      flex-grow: 1;

      .wrapper-configuration {
        display: flex;

        flex-direction: column;
        align-items: flex-start;
        gap: 16px;

        .configuration__configs {
          width: 100%;

          display: flex;

          justify-content: space-between;

          .config {
            cursor: pointer;

            display: flex;

            flex-direction: column;
            align-items: center;
            gap: 12px;

            .config__img {
              width: 160px;
              height: 160px;
              border-radius: 8px;

              transition: all 0.2s;
            }

            .config__name {
              transition: all 0.2s;
            }
          }

          .config:hover {
            .config__img {
              box-shadow: var(--box-shadow);
            }

            .config__name {
              font-weight: 500;
            }
          }
        }

        .configuration__random {
          align-self: center;

          margin-top: 12px;
          background-color: var(--btn-bg-tertiary-color);
        }

        .configuration__random:hover {
          background-color: var(--btn-bg-additional-color);
        }
      }
    }
  }

  /* GAME SECTION */

  .section-game {
    margin-top: 18px;
    margin-bottom: 24px;

    display: flex;

    gap: 18px;

    .game__field {
      width: 800px;
      height: 800px;
      overflow: scroll;
    }

    .game__sidebar {
      flex-grow: 1;

      display: flex;

      flex-direction: column;
      gap: 18px;

      .wrapper-characteristics {
        display: flex;

        flex-direction: column;
        gap: 48px;

        .characteristic {
          display: flex;

          flex-direction: column;
          gap: 12px;

          .characteristic-value {
            font-size: 32px;
            font-weight: 500;
            color: var(--font-secondary-color);
          }
        }
      }

      .sidebar__btns {
        display: flex;

        gap: 18px;

        .sidebar__reset {
          background-color: var(--btn-bg-primary-color);
        }

        .sidebar__start {
          background-color: var(--btn-bg-secondary-color);
        }

        .sidebar__reset:hover {
          background-color: var(--btn-bg-secondary-color);
        }

        .sidebar__start:hover {
          background-color: var(--btn-bg-primary-color);
        }
      }
    }
  }
}
